/* Enter your custom styles here */
.large {
	font-size: 1.5rem;
}
.medium {
	font-size: 1rem;
}
.underlined {
    /*   background: red; */
      position: relative;
      font-size: 3rem;
    }
.underline-clip:after {
        content: '';
        position: absolute;
        top: 95%;
        width: 150%;
        aspect-ratio: 3 / 1;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 50%;
        border: 6px solid hsl(130 80% 50%);
        /* Use a clip-path to hide and show the bits you want */
        clip-path: polygon(0 0, 50% 50%, 100% 0);
      }